body {
    margin: 0;
    background-color: lavender;
}
  
h1 {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-size: 80px;
    color: peachpuff;
    background-color: cadetblue;
}
  
p {
    margin: 30px;
    padding: 0px;
    font-family: "Jersey 25 Charted", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: cadetblue;
  }
  
.p1 {
    margin-top: 80px;
}
  
form {
    margin: 30px;
    padding: 0px;
    font-family: "Jersey 25 Charted", sans-serif;
    font-size: 40px;
}
  
input {
    height: 36px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 120px;
    font-family: "Jersey 25 Charted", sans-serif;
    font-size: 40px;
    background-color: peachpuff;
    border: 0px;
    width: 140px;
}
  
button {
    padding: 0px;
    font-family: "Jersey 25 Charted", sans-serif;
    font-size: 40px;
    border: 0px;
    background-color: lavender;
}

a {
    margin: 30px;
    font-family: "Jersey 25 Charted", sans-serif;
    font-size: 40px;
    background-color: lavender;
}